<html>
     <head>
     	<title>Sakib's Resume</title>
     </head>
     <body>
     	<div>
     	     <h1><a href="">Sakib's Resume</a></h1>
     	     
        </div>
        
        <div>
        	<p>published: 04.12.2016, 05:48</p>
        	<h2><a href="">About</a></h2>
        	<p>hello this is my first personal website, here i am sharing my resume.</p>
        </div>


        <div>
        	<p>published: 04.12.2016</p>
        	<h2><a href="">Education</a></h2>
        	<p>I did my SSC exam from Ideal school and college</p>
        	<p>Then HSC from DRMC</p>
        	<p>Then Graduated in computer science and Engineering from Daffodil International University</p>
        </div>


        <div>
        	<p>published: 04.12.2016</p>
        	<h2><a href="">Job Experience</a></h2>
        	<p>currently Working as an Intern at White canvus software as a web developper</p>
        </div>
     </body>
</html>